# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environments
yolo/


# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore model weights (large files)
*.h5
*.pth

# Ignore large files (large files)
*.zip

